:root {
    --header-bg: #333333;
    --header-fg: #f5f5f5;
    --tab-bg: #f5f5f5;
    --tab-fg: #333333;
    --light-tab-bg: hsl(31, 44%, 55%);
    --dark-tab-fg: hsl(186, 45%, 40%);
    --tab-shadow: 5px 5px 10px #cccccc;
    --tab-border: 1px dashed #007bff;
    --pad-normal: 8px 16px;
    --shadow-normal: 5px 5px 10px rgb(0, 0, 0, 0.25);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "click hover";
    height: 100vh;
}

header {
    grid-area: header;
    background-color: var(--header-bg);
    color: var(--header-fg);
    padding: var(--pad-normal);
    text-align: center;
    font-weight: bolder;
    box-shadow: var(--shadow-normal);
}

header h1 {
    margin: 0;
    padding: 0;
}

.drop-down-tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#click-drop-down {
    grid-area: click;
}

#hover-drop-down {
    grid-area: hover;
}

.tab-title {
    font-size: 48px;
    text-shadow: var(--tab-shadow);
    margin: 0;
    padding: var(--pad-normal);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.drop-down,
li > button {
    border: 0;
    font-size: 24px;
    padding: var(--pad-normal);
    border-radius: 8px;
    background-color: var(--tab-bg);
    color: var(--tab-fg);
    box-shadow: var(--tab-shadow);
}

li > button:hover,
.drop-down:hover {
    background-color: var(--light-tab-bg);
    color: var(--dark-tab-fg);
    border: var(--tab-border);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}